body{
    font-family: fantasy;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin:10px;

}
.login-container,.quiz-container,.questions-container{
    width:90%;
    max-width: 600px;
    text-align:center ;
}
input,button{
    display: block;
    width: 100%;
    margin-top: 20px 0;
    padding: 20px;
}

button{cursor: pointer;}
.card{
    border: 2px rgb(222, 206, 193);
    padding: 20px;
    margin: 10px;
}
.blue-border{
    border:3px rgb(12, 4, 105);
}
.violet-border{
    border:3px violet;
}